@import url("https://fonts.cdnfonts.com/css/poppins");

body {
  font-family: "Poppins", sans-serif;
  text-align: center;
  overflow-x: hidden;
  background-color: rgb(12, 11, 11);
  margin: 0px;
}

.button1 {
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
  background-color: #00e78b8c;
  text-decoration: none;
  border-radius: 25px;
  padding: 10px 20px;
  margin: 45px 0 15px 0px;
  display: inline-block;
}

.button2 {
  font-size: 20px;
  font-weight: bold;
  border: 2px solid rgb(211, 211, 211);
  text-decoration: none;
  color: #ffffff;
  background-color: #111111;
  border-radius: 25px;
  padding: 10px 20px;
  margin: -5px 0 18px 0;
  display: inline-block;
}

a:hover {
  background-color: #1ae68c;
  color: #000000;
  transition: all 0.3s ease-in-out;
}

.img {
  display: block;
  margin: auto;
  max-width: 100%;
  height: auto;
  box-shadow: 0px 0px 50px rgb(70, 70, 70);
  border-radius: 10px;
  width: 920px;
}

section {
  color: #ffffff;
  margin: 0px 100px 10px 100px;
}

section h3 {
  color: #1ae68c;
}

.card-text {
  background-color: #181616;
  margin: 28px 0 22px;
  border-radius: 20px;
  padding: 8px;
  transition: all 0.3s ease-in-out;
}

.card-text:hover {
  box-shadow: 0px 0px 30px #1ae68c;
}

footer {
  display: grid;
  background-color: #1ae68eb6;
  font-weight: bold;
  color: rgb(255, 255, 255);
}

footer a {
  text-decoration: none;
  color: #000000;
}

@media only screen and (max-width: 960px) {
  section {
    margin: 0px 12px 10px 12px;
  }

  .img {
    width: 90%;
  }
}
